<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351898122336-updmvdeaf8pr5ac8bhuqj37tppqco03t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351898122336-updmvdeaf8pr5ac8bhuqj37tppqco03t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>351898122336-cmrvmqgktk2feijdpo3jndc8h9ko4ga4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKbxoRbEJLna1OdT10-8moKeAjZ35RDBo</string>
	<key>GCM_SENDER_ID</key>
	<string>351898122336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bvsik</string>
	<key>PROJECT_ID</key>
	<string>bvsik-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bvsik-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351898122336:ios:2b913511e6727c6c00eb05</string>
	<key>DATABASE_URL</key>
	<string>https://bvsik-app.firebaseio.com</string>
</dict>
</plist>